<div class="w-100">
    <h1 mat-dialog-title class="mb-2">
        <mat-icon>work</mat-icon> Nuevo proyecto
    </h1>
    <mat-divider>
    </mat-divider>
    <div mat-dialog-content class="text-center mt-2">
        <mat-form-field class="w-100">
            <mat-label>Nombre del proyecto</mat-label>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
        <mat-form-field class="w-100">
            <textarea matInput [(ngModel)]="data.description" rows="5" placeholder="Describe tu proyecto..."></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
        <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Crear</button>
    </div>
</div>