<div class="pt-3 px-3 mb-0">
    <div>
        <h2>Destacados</h2>
    </div>
    <mat-divider></mat-divider>
</div>

<div *ngIf="!loadingData">
    <div *ngIf="folders.length > 0" class="p-3">
        <h3 class="text-muted">Carpetas</h3>
        <div>
            <div fxFlex="100" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="20" *ngFor="let folder of folders">
                <app-folder-card [folder]="folder" (unstarredFolder)="onUnstarredFolder($event)" (deletedFolder)="onUnstarredFolder($event)"></app-folder-card>
            </div>
        </div>
    </div>
    <div *ngIf="projects.length > 0" class="p-3">
        <h3 class="text-muted">Proyectos</h3>
        <div>
            <div fxFlex="100" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="20" *ngFor="let project of projects">
                <app-project-card [project]="project" (unstarredProject)="onUnstarredProject($event)" (deletedFolder)="onUnstarredProject($event)"></app-project-card>
            </div>
        </div>
    </div>
    <div *ngIf="snippets.length > 0" class="p-3">
        <h3 class="text-muted">Snippets</h3>
        <div>
            <div fxFlex="100" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="20" *ngFor="let snippet of snippets">
                <app-snippet-card [snippet]="snippet" (unstarredSnippet)="onUnstarredSnippet($event)" (deletedSnippet)="onUnstarredSnippet($event)"></app-snippet-card>
            </div>
        </div>
    </div>

    <div *ngIf="(folders.length == 0 && projects.length == 0 && snippets.length == 0)" class="p-5" fxLayoutAlign="center center">
        <h3 class="text-muted">Aún no has destacado carpetas, proyectos o snippets</h3>
    </div>
</div>


<div *ngIf="loadingData" class="h-100 w-100">
    <app-loading></app-loading>
</div>