<div (dblclick)="openFolder()" class="pointer">
    <mat-card>
        <mat-card-content fxLayout="row no-wrap" fxLayoutAlign="space-between center">
            <mat-icon>folder</mat-icon>
            <span class="folder-card-name">{{ folder.name }}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        </mat-card-content>
    </mat-card>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Renombrar</span>
    </button>
    <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>Detalles</span>
    </button>
    <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartir</span>
    </button>
    <button *ngIf="!folder.starred" mat-menu-item>
        <mat-icon>star</mat-icon>
        <span>Agregar a destacadas</span>
    </button>
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Mover a la papelera</span>
    </button>
</mat-menu>